.header-login {
    padding: 1% 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.background-image {
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp ');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
}

.form-login {
    width: 100%;
    padding: 2% 0;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.form-control {
    padding: 2% !important;
}

.forgot-password {
    color: #007bff;
    cursor: pointer;

    &:hover {
        color: #0056b3;
    }
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #c0c0c0;
    margin: 2% 0 3% 0;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #c0c0c0;
}

.separator::before {
    margin-right: 10px;
}

.separator::after {
    margin-left: 10px;
}

.new-to-shopee {
    color: #c0c0c0;
}

.register {
    color: #d82c2c;
    cursor: pointer;

    &:hover {
        color: #ff0000;
    }
}

.forgot-password-main {
    min-height: 60vh;
    justify-content: center;
    align-items: center;
}

.forgot-password-data{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 2%;
    width: 500px;
}

.fs-custom {
    font-size: 12px;
    margin-bottom: -4%;
  }